ion-col.alc {
    /*
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    */
    text-align: center;
  }

.gold {
  color: #FFBF18;
}

ion-card-content {
    font-size: 1rem;
}

ion-input {
  font-size: 1.5rem;
}

.selectable {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}