<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan Oggetti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="medium">
    <ion-card-subtitle>
      <ion-row>
      <ion-col>San</ion-col>
      <ion-col>Miti</ion-col>
      <ion-col>PF</ion-col>
      </ion-row>
    </ion-card-subtitle>
    <ion-card-title>
      <ion-row>
      <ion-col>{{user.Sanita}}</ion-col>
      <ion-col>{{user.Miti}}</ion-col>
      <ion-col>{{user.PF}}</ion-col>
      </ion-row>
    </ion-card-title>

  </ion-card>

  <ion-row >
    <ion-col >
      <ion-button shape="round" color="danger" expand="block" (click)="openbarcode()" [disabled]="status.magie==true || status.generico==true">Scan</ion-button>
    </ion-col>
  </ion-row>

  <app-oggetto *ngIf="status.generico===true"></app-oggetto>
  <app-magia *ngIf="status.magie===true"></app-magia>
 
</ion-content>
