<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher (ionRefresh)="handleRefresh($event)" slot="fixed"><ion-refresher-content></ion-refresher-content></ion-refresher>


  <ion-grid>

    <ion-row>
      <ion-col size="6" offset="1">
        <ion-card>
          <div style="text-align: center;">
          <img src="https://www.roma-by-night.it/Castello/assets/{{user.URLimg}}" style="max-width: 75%;">
          </div>
          <ion-card-header>
            <ion-card-subtitle>Nome</ion-card-subtitle>
            <ion-card-title>{{user.NomePG}} {{user.CognomePG}}</ion-card-title>
            <ion-card-subtitle>Data di Nascita</ion-card-subtitle>
            <ion-card-title>{{user.gg}}/{{user.mm}}/{{user.aaaa}}</ion-card-title>
          </ion-card-header>
        </ion-card>
        <!--<img [src]="img" > -->
      </ion-col>
      <ion-col size="4" offset="0">
        <ion-grid padding=1>
          <ion-row >
            <ion-col>
              <ion-item>
              <ion-label>San</ion-label>
              <ion-badge >{{user.Sanita}}</ion-badge>
            </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-label>Miti</ion-label>
              <ion-badge >{{user.Miti}}</ion-badge>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-label>PF</ion-label>
              <ion-badge >{{user.PF}}</ion-badge>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Professione</ion-card-subtitle>
            <ion-card-title>{{user.nomespecial}}</ion-card-title>
            <ion-card-subtitle>( {{user.nomeprofessione}} )</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <span *ngIf="user.IDspecial != 17 "> {{user.bonus}}</span>
            <span *ngIf="user.IDspecial == 17 ">{{user.xbonus}}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
 
  </ion-grid>
</ion-content>
